.container {
  min-height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.description {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.container {
  animation: fadeIn 0.5s ease;
}

.headBox {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-top: -20px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}

/* 修改动画实现方式，使用animation-play-state来控制动画速度 */
.headContainer {
  display: flex;
  width: 4000px;
  transform: translateX(0);
  animation: slide 30s linear infinite;
  transition: all 0.5s ease;
}

.headContainer:hover {
  animation-play-state: paused;
}

.dwHead {
  height: 200px;
  width: 200px;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
